/*
 *
 *		PAGES-STYLE.CSS
 *
 *	+ PAGE WRAPPER
 *	+ HEADER TOP
 *	+ HEADER
 *	 - LOGO
 *	 - MENU
 *	 - MOBILE MENU
 *	 - STICKY
 *	+ PAGE CONTENT
 *	 - PAGE HEADER
 *	+ FOOTER
 *	 - FOOTER
 *	 - FOOTER BOTTOM
 *  + PAGES
 *	 - HOME
 *	 - ABOUT
 *	 - SERVICES
 *	 - PORTFOLIO
 *	 - BLOG
 *	 - CONTACT
 *	 - SHORTCODES
 */

/***********************************************************************************
 *	+ PAGE WRAPPER
 ***********************************************************************************/
 
 #main-container {
    overflow: hidden;
    background-color: #fff; 
}

.boxed {
    background: #fff repeat top left;
}

.boxed #main-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 5px #737373;
}

.boxed #header-sticky {
    max-width: 1200px;
}

@media (min-width: 1400px) {
        
    .boxed #main-container,
    .boxed #header-sticky {
        max-width: 1350px;
    }
    
}

/***********************************************************************************
*	+ HEADER TOP
***********************************************************************************/

#header-top {
    padding: 5px 0;
    background-color: #04142b;
    color: #fff;
}

#header-top h1,
#header-top h2,
#header-top h3,
#header-top h4,
#header-top h5,
#header-top h6 {
    color: inherit;
}

#header-top .widget:last-child {
    margin-bottom: 0;
}

#header-top .widget-pages ul li a:hover:before,
#header-top .widget-metadata ul li a:hover:before {
    border-color: #fff;
}

#header-top .widget-calendar caption {
    color: inherit;
}

#header-top .widget-recent-posts ul li .post-title {
    color: inherit;
}

#header-top .widget-recent-posts ul li .post-date,
#header-top .widget-recent-posts ul li .post-date:before {
    color: #6f7b8a;
}

#header-top .widget-recent-posts ul li .post-title:hover,
#header-top .widget-recent-posts ul li .post-date:hover,
#header-top .widget-recent-posts ul li .post-date:hover:before {
    color: #c8bba1;
}

#header-top .widget-social .social-media a {
    color: inherit;
}

#header-top .widget-contact ul li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 30px;
}

#header-top .widget-contact ul li:last-child {
    margin-right: 0;
}

#header-top .widget-contact ul li a {
    color: inherit;
}

#header-top .widget-search #s {
    height: 41px;
    border-color: #c8bba1;
    background-color: #c8bba1;
    color: #fff;
}

#header-top .widget-search #s:focus {
    border-color: #e1e1e1;
}

#header-top .widget-search #s::-moz-placeholder {
    color: #fff;
}

#header-top .widget-search #s::-webkit-input-placeholder {
    color: #fff;
}

#header-top .widget-search #s:-ms-input-placeholder {
    color: #fff;
}

#header-top .widget-search input[type="submit"] {
    background-image: url(../images/search-white.png);
}

#header-top .widget-search:first-child {
    margin-top: -5px;
}

#header-top .widget-search:last-child {
    margin-bottom: -5px;
}

@media (min-width: 1200px) {
    
    #header-top .widget-contact ul li {
        margin-right: 50px;
        font-size: 13px;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    
    #header-top .widget-search:first-child {
        margin-top: 10px;
    }
    
}

@media (max-width: 767px) {
    
    #header-top {
        display: none;
    }
    
}

/***********************************************************************************
*	+ HEADER
***********************************************************************************/
 
#header {
    position: relative;
    background: #1f2949;
    padding:0px 0 0 0;
    border-bottom:1px solid #ccc;
}

#header [class^="col-"] {
    position: static;
}

#header .container {
    position: relative;
}
#header .logo{
    margin:5px; display:block;
    width:90%;
}
#header .login-btn a {
    background: #1f2949 none repeat scroll 0 0;
    border-radius: 22px;
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin:10px 0 0 0;
    outline-style: none;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}
#header .phone-no{margin:15px 0 20px 0; font-size:20px; font-weight:600; color:#10293d; float:right;   font-family: "Oswald",sans-serif;}
#header .phone-no span{color:#1f2949; padding:0 5px 0 0;}

@media (max-width: 767px) {
    
    #header {
        border-top: 5px solid #04142b;
    }
    
}

/***********************************************************************************
*	- LOGO
***********************************************************************************/

#logo {
    max-width: 100%;
    margin: 30px 0;
}

#logo a {
    display: inline-block;
    max-width: 100%;
    text-align: center;
}

@media (max-width: 767px) {
    
    #logo {
        margin-right: 60px;
    }
    
}

/***********************************************************************************
*	- MENU
***********************************************************************************/
 
 .menu,
.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu {
    /*float: left;
    margin-top: 15px;*/
    text-align:center;
}

.menu > li { 
    /*float: left; */
    display:inline-block;
}

.menu li a {
    display: block;
    padding: 8px 15px;
    border-bottom: 1px solid rgba(200, 187, 161, 0.2);
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}

.menu > li > a {
    position: relative;
    padding:20px 0 35px 0;
    border-bottom: none;
    margin:0 15px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.menu > li:last-child > a {
    margin-right: 0;
}

.menu li.dropdown ul {
    position: absolute;
    z-index: 2000;
    top: 100%;
    left: 0;
    display: none;
    text-align:left;
    width:270px;
    border-right: 1px solid rgba(200, 187, 161, 0.2);
    border-left: 1px solid rgba(200, 187, 161, 0.2);
    background-color: #00425f;
}

.menu li.dropdown ul li a:before {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid rgba(200, 187, 161, 0.2);
    margin-right: 15px;
    content: "";
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}

.menu li.dropdown ul ul {
    top: 0px;
    left: 100%;
}

.menu li.dropdown:hover > ul {
    display: block;
}

.menu li.megamenu .megamenu-container {
    position: absolute;
    z-index: 2000;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    border-top: 2px solid #c8bba1;
    border-right: 1px solid rgba(200, 187, 161, 0.2);
    border-left: 1px solid rgba(200, 187, 161, 0.2);
    border-bottom: none;
    background-color: #04142b;
}

.megamenu-container .section {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(200, 187, 161, 0.2);
}

.megamenu-container .section:last-child {
    border-right: none;
}

.megamenu-container.col-2 .section { 
    width: 50%; 
}

.megamenu-container.col-3 .section { 
    width: 33.33333333%; 
}

.megamenu-container.col-4 .section { 
    width: 25%; 
}

.megamenu-container.col-5 .section { 
    width: 20%; 
}

.megamenu-container .section ul li a:before {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid rgba(200, 187, 161, 0.2);
    margin-right: 15px;
    content: "";
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}

.menu li.megamenu:hover > .megamenu-container { 
    display: block; 
}

.sf-arrows .sf-with-ul:after {
    position: absolute;
    top: 50%;
    display: none;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #04142b;
    margin-top: -17px;
    content: "";
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
    
.sf-arrows > li:hover > .sf-with-ul:after { 
    border-top-color: #c8bba1; 
}
    
.sf-arrows ul .sf-with-ul:after {
    display: block;
    border-color: transparent;
    border-left-color: #fff;
    margin-top: -5px;
    margin-right: 10px;
}

.sf-arrows ul li:hover > .sf-with-ul:after { 
    border-left-color: #c8bba1; 
}

.menu li a:hover, 
.menu li.active > a, 
.menu li.sfHover > a {
    color: #1ddfdb;
    text-decoration: none;
    outline:0;
}

.menu li.dropdown ul li a:hover:before,
.menu li.dropdown ul li.sfHover > a:before,
.megamenu-container .section ul li a:hover:before {
    border-color: #c8bba1;
}

.menu ul li > a:hover,
.menu ul li.sfHover > a {
    border-color: #c8bba1;
    color: #c8bba1;
}

@media (min-width: 768px) and (max-width: 991px) {

    .menu {
        display: none;
    }
    
}

@media (max-width: 767px) {

    .menu {
        display: none;
    }
    
}

/***********************************************************************************
*	- MOBILE MENU
***********************************************************************************/	

#mobile-menu-button {
    float: right;
    display: none;
    color: #04142b;
    font-size: 32px;
    line-height: 32px;
    text-decoration: none;
}

#mobile-menu,
#mobile-menu ul {
    list-style: none;
    display: none;
    margin: 0;
}

#mobile-menu {
    border-bottom: 1px solid rgba(200, 187, 161, 0.2);
    background-color: #04142b;
}

#mobile-menu li a {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid rgba(200, 187, 161, 0.2);
    text-decoration: none;
    color: #fff;
}

#mobile-menu > li > a {
    text-transform: uppercase;
    font-weight: 700;
}

#mobile-menu ul a {
    padding-left: 40px; 
}

#mobile-menu ul a:before {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    margin-right: 15px;
    content: "";
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}

#mobile-menu ul ul a {
    padding-left: 60px;
}

#mobile-menu .megamenu-container {
    display: none;
    margin-left: 0;
    border-top: 1px solid rgba(200, 187, 161, 0.2);
}

#mobile-menu .megamenu-container .section {
    float: none;
    width: 100%;
    margin-bottom: -1px;
    padding: 0 20px 20px 20px;
}

#mobile-menu .megamenu-container .section ul {
    display: block;
    margin: 0 -25px -20px;
}

#mobile-menu .megamenu-container .section ul a {
    padding-left: 40px;
    border-bottom: 1px solid rgba(200, 187, 161, 0.2);
    border-top: none;
}

#mobile-menu .megamenu-container .section ul li:last-child a {
    border-bottom: 1px solid rgba(200, 187, 161, 0.2);
}

#mobile-menu li.dropdown > a,
#mobile-menu li.megamenu > a { 
    position: relative;
}

#mobile-menu li.dropdown > a:after,
#mobile-menu li.megamenu > a:after {
    position: absolute;
    top: 14px;
    right: 25px;
    font-family: "FontAwesome";
    font-size: 16px;
    line-height: 16px;
    content: "\f107";
}

#mobile-menu li.dropdown > a.open:after,
#mobile-menu li.megamenu > a.open:after {
    content: "\f106";
}

@media (min-width: 768px) and (max-width: 991px) {

    #mobile-menu-button {
        position: absolute;
        top: 39px;
        right: 15px;
        display: block;
    }
    
}

@media (max-width: 767px) {
    
    #mobile-menu-button {
        position: absolute;
        top: 20px;
        right: 15px;
        display: block;
    }
    
}

/***********************************************************************************
*	- STICKY
***********************************************************************************/
 
#header-sticky [class^="col-"] {
    position: static;
}

#header-sticky .container {
    position: relative;
}

#header-sticky {
    position: fixed;
    z-index: 8000;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    margin: 0 auto;
    background-color: #1f294a;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}

#header-sticky .logo{
    margin:10px 15px;
    display:block;
}
#header-sticky .login-btn a {
    background: #1f2949 none repeat scroll 0 0;
    border-radius: 22px;
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin:20px 0 0 0;
    outline-style: none;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}
#header-sticky .phone-no{margin:25px 0 0 0; font-size:18px; font-weight:600; color:#10293d; float:right;   font-family: "Oswald",sans-serif;}
#header-sticky .phone-no span{color:#1f2949; padding:0 5px 0 0;}

#header-sticky #logo {
    margin: 10px 0;
}

#header-sticky .menu {
    margin-top: 10px;
}

#header-sticky .menu > li > a {
    padding-bottom: 19px;
}

#header-sticky .sf-arrows .sf-with-ul:after {
    margin-top: -7px;
}

#header-sticky .sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
}

@media (min-width: 768px) and (max-width: 991px) {
    
    #header-sticky {
        visibility: hidden;
    }
    
}

@media (max-width: 767px) {
    
    #header-sticky {
        visibility: hidden;
    }
    
}

